.mobile-file-container{
    width: 100%;
    height: 100vh;
    background-color: #FCD9DC;
    display: none;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20%;
}

/* for thead */
.mobile-file-container thead tr {
    background-color: rgba(0, 24, 50, 0.1);
    color: #000;
    font-size: 14px;
    height: 40px;
}

.mobile-file-container thead tr th:nth-child(1){
    text-align: center;
    width: 20%;
}
.mobile-file-container th img {
    width: 15px;
    height: 15px;
}
.mobile-file-container thead tr th:nth-child(2){
    width: 10%;
}

.mobile-file-container thead tr th:nth-child(3){
    text-align: left;
    font-weight: normal;
    width: 70%;
}

/* for td */
.mobile-file-container td {
    height: 50px;
}
.mobile-file-container td:nth-child(1) {
    text-align: center;
    width: 20%;
}
.mobile-file-container td:nth-child(2) {
    text-align: left;
    width: 10%;
    font-size: 14px;
}
.mobile-file-container td:nth-child(3) {
    text-align: left;
    width: 70%;
}

.mobile-file-container td input[type="checkbox"] {
    display: none;
}
.mobile-file-container label {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url('/public/assets/icon/uncheckBox.png');
}



.mobile-file-container .file-info div {
    font-size: 14px;
    color: #001832;
}

.mobile-file-container .file-info div:last-child {
    font-size: 10px;
    color: rgba(38, 64, 93, 0.6);
}

.mobile-file-container tr:not(:last-child) {
    position: relative;
}

.mobile-file-container tr:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 6%;
    bottom: 0;
    border-bottom: 2px solid rgba(38, 64, 93, 0.1);;
}
/*paging button*/
.myMobilePaging {
    text-align: center;
    margin-bottom: 20px;
}
.mobilePageButton {
    background-color: transparent;
    color: #000;
    font-size: 14px;
    border: none;
    text-decoration: none;
}
.mobilePageButton.current {
    text-decoration: underline;
    font-weight: bold;
}
/* mobile screen */
@media screen and (max-width: 900px) {
    .mobile-file-container{
        display: block;
    }
}